  .blog {
    margin-top: 250px;
    background: #fff;

    .blog-text img {
      float: left;
      margin: 105px 45px 15px 0;
    }

    h3 {
      position: absolute;
      top: 30px;
      left: 32px;
      line-height: 50px;
      border-bottom: 3px solid #e6b43e;
    }

    .text {
      padding-top: 100px;
      margin-bottom: 50px;
    }

    .order span {
      padding-top: 175px;
      font-size: 1.5em;
    }
  }
