.citybackground {
  .breadcrumb {
    margin-bottom: 250px;
  }

  h1 {
    line-height: 50px;
    left: 35%;
  }

  .catalog-selector {
    padding-top: 16px;
    font-size: 1.1em;
    line-height: 3em;
    background: #fff url('img/auto-pump-on-track-line.png') no-repeat center bottom;

    .catalog-item:hover {
      background: #4e2751;

      a {
        color: #fff;
      }
    }

    .animated-truck {
      position: relative;
      width: 100%;
      height: 75%;
      transition: .5s;
      z-index: 10;

      #mixer-truck {
        transition: .5s;
        transform: scale(.65);
        margin-left: 103px;
      }
    }

    .concrete-pump {
      width: 100%;
      height: 100%;
    }

    .fixed {
      transition: .5s;
      position: fixed;
      top: 0;
      z-index: 10;
    }

    ul {
      padding: 0;
      list-style: none;

      a {
        color: #000;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }

    .active {
      background: #4e2751;

      a {
        color: #fff;
      }
    }
  }

  .price-page {
    padding: 16px;
    background: #fff;

    .position-price,
    .position-quantity {
      text-align: center;
    }

    .position-cost {
      padding-left: 50px;
    }

    .tabled {
      margin-left: 1px;
      margin-right: 1px;
      line-height: 48px;
      font-size: 1.4em;
    }

    .table-header {
      background: #e6b43e;

      .position-cost {
        padding-left: 33px;
        text-align: left;
      }
    }

    .table-type {
      background: #4e2751;
      color: #fff;
    }

    .table-item {
      font-size: 1.3em;

      .position-cost {
        .btn.to-buy {
          margin-top: -5px;
          margin-left: -4px;
          padding: 0 50px;
          font-size: 1em;
          height: 38px;
          cursor: pointer;
          background: #e6b43e url('img/basket-icon.png') no-repeat 10% center;
          border-radius: 0;
        }
      }
    }

    .table-item:nth-child(even) {
      background: #f2f2f2;
    }

    .table-item {
      transition: .3s;

      &:hover {
        transform: translateY(-3px);
        transition: .3s;
        box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.2);

        .count {
          display: block;
        }
      }
    }

    .table-summary {
      margin-top: 5px;
      background: #4e2751;
      color: #fff;
    }

    .count {
      display: none;

      &:focus {
        outline: none;
      }

      .input-group {
        height: 48px;

        &:focus {
          outline: none;
        }

        .input-group-btn:focus {
          outline: none;
        }

        button {
          outline: none;

          &:focus {
            outline: none;
          }
        }

        .btn.minus {
          cursor: pointer;
          background: transparent url('img/plus-minus-delete.png') no-repeat center left;
        }

        .btn.plus {
          cursor: pointer;
          background: transparent url('img/plus-minus-delete.png') no-repeat center;
        }

        .form-control {
          text-align: center;
          border: 1px solid #fff;
          height: 26px;
          margin-top: 10px;
          padding: 0;
          font-family: inherit;
          font-size: 1em;
        }
      }
    }

    h2 {
      margin-top: 50px;
      margin-bottom: 20px;
      line-height: 50px;
      border-bottom: 3px solid #e6b43e;
    }

    .h2-1 {
      margin-top: 80px;
      width: 295px;
    }

    .h2-2 {
      width: 426px;
    }

    .h2-3 {
      width: 287px;
    }

    .h2-4 {
      width: 317px;
    }
  }
}

.share-stripe {
  margin-top: 50px;
}
